<div class="age-ver-modal-container">
    <div class="age-ver-modal-box">
        <div class="age-ver-modal-logo">
            <img class="winged-cross" src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Cross-1.png" alt="logo">
            <img class="jumpnbean-text" src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean+pharms-2.png" alt="logo">
        </div>
        <span class="text-18-to-enter">YOU MUST BE AT LEAST 18 TO VIEW THIS SITE</span>
        <button mat-flat-button color="accent" (click)="ageVer.addVerificationCookie()">YES, I AM 18+</button>
    </div>
</div>
