<div class="header-main-container">
    <div class="header-content-container">
        <div class=header-logos>
            <div class="header-logo-circle">
                <div class="header-logo-div">
                    <a routerLink="" routerLinkActive="active">
                        <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Cross-1.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="header-text-div">
                <a routerLink="" routerLinkActive="active">
                    <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean+pharms-1.png" alt="logo">
                </a>
            </div>
        </div> 
        <div class="header-links">
            <div>
                <a class="header-link-item links-to-hide" routerLink="" routerLinkActive="active">HOME</a>
            </div>
            <div>
                <a class="header-link-item" id="product-link" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
            </div>
            <div>
                <a class="header-link-item links-to-hide" href="about">ABOUT</a>
            </div>
        </div> 
    </div>
</div>
<router-outlet></router-outlet>
