<div class="header-main-container">
    <div class="header-bar">
        <div class=header-logos>
            <div class="header-logo-circle">
                <div class="header-logo-div">
                    <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Cross-1.png" alt="logo">
                </div>
            </div>
            <div class="header-text-div">
                <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean+pharms-1.png" alt="logo">
            </div>
        </div>
    </div>
    
</div>
