.footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

@media(max-width:500px){
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
}

.footer-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.footer-logo-div img {
    width: auto;
    height: 12vw;
    max-height: 90px;
    min-height: 30px;
}
.footer-text-div img {
    width: auto;
    height: 10vw;
    max-height: 65px;
    min-height: 30px;
    padding-left: 2vw;
}
.social{
    margin-right: 4vw;
}
.social p{
    color: white;
    text-align: center;
    margin-bottom: 3px;
}
.social-icon-row {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-icon {
    padding-left: 8px;
    padding-right: 8px;
}
.ng-fa-icon{
    color: white;

}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}