<div class="footer-container">
    <div class=footer-logos>
        <div class="footer-logo-div">
            <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Cross-2.png" alt="logo">
        </div>
        <div class="footer-text-div">
            <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean+pharms-2.png" alt="logo">
        </div>
    </div>
    <div class="social">
        
        <div class="social-icon-row">
            <div class="social-icon">
                <fa-icon [icon]="faInstagramSquare" size="3x"></fa-icon>
            </div>
            <div class="social-icon">
                <fa-icon [icon]="faFacebookSquare" size="3x"></fa-icon>
            </div>
        </div>
    </div>
</div>
