<div class="product-card">
    <div class="content-container">
        <div class="product-pic">
            <img src={{flower.photo}} alt="">
        </div>
        <div class="product-info">
            <h3 class="product-title">{{flower.name}}</h3>
            <h4 class="product-stats">THC: {{flower.thc}}% | CBD: {{flower.cbd}}% | CANNABOIDS: {{flower.cannaboids}}%</h4>
            <div class="product-blurb">
                <p>{{flower.info}}</p>
            </div>
            <div class="product-bottom-container">
                <a class="view-product-link" href="">VIEW PRODUCT</a>
            </div>
        </div>
    </div>
</div>



