<mat-card class="product-card">
    
    <img mat-card-image class="display-image" src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/white-daisy.jpg" alt="MARSHMELLOW OG">

    <mat-card-title class="product-title">MARSHMELLOW OG</mat-card-title>
        
    <mat-card-subtitle class="product-metrics">THC: 18.8% | CBD: ND | CANNABOIDS: 22.7%</mat-card-subtitle>

    <mat-card-content>
        <p class="text-content">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search 
        </p>
    </mat-card-content>

    <mat-card-actions class="buttons-container">
        <button mat-flat-button color="primary" class="view-button"><strong>VIEW PRODUCT</strong></button>
    </mat-card-actions>
    
</mat-card>
