.featured-product-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.featured-product-image-badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.featured-product-image-badge img {
    max-width: 85%;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform 250ms;
}
img:hover {
    transform: translateY(-10px);
}
.featured-badge-label{
    color: white;
}