.terps-section-container{
    margin: 20px 0px;
    color: white;
    /* height: 300px; */
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.terps-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
    height: 100%;
    
}
.terps-section-text h2{
    font-size: 4vw;
}
.terps-section-photo{
    height: auto;
    display: flex;
    width: 100%;
}
.terps-section-photo img{
    object-fit: cover;
    /* height: 300px; */
    width: 100%;
    /* max-width: 60vw; */
}
a:hover {
    color: #7FA128;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.terps-learn-more-link {
    margin: 5px 0px;
    padding: 7px 30px;
    background-color: white;
    font-weight: bold;
    color: darkslateblue;
    border-radius: 25px;
}

@media(max-width:700px){
    .terps-section-container{
        flex-direction: column; 
    }
    .terps-section-text{
        max-width: 100%;
    }
}
@media(min-width:700px){
    .terps-section-container{
        flex-direction: row;
    }
    .terps-section-text{
        max-width: 25%;
    }
}