<div class="terps-section-container">
    <div class="terps-section-text">
        <h1>TERPENES</h1>
        <p>Terpenes are natural oils found typically in botanicals that put out a distinct scent or aroma. Cannabis terpenes are the oils that give your favorite cannabis strains their distinctive flavor. Many people choose their strains because of the distinct citrus, berry, mint, or pine flavors and smells. The terpenes are secreted in the flower’s sticky resin glands, called the trichomes. Terpenes can also appear in numerous herbs, fruits, or plants. Terpenes are vitally important in the therapeutic uses of cannabis. Each terpene, like each strain, has subtle differences in effects.</p>
        <a class="terps-learn-more-link" href="https://thcdesign.com/blog/its-all-about-the-terpenes/">LEARN MORE</a>
    </div>
    <div class="terps-section-photo">
        <img src="assets/images/terps.jpg" alt="Terpene Chart">
    </div>
</div>
