<app-header></app-header>
<div class="main-page-container">
    <div class="content-container">
        <app-headline 
            [viewProductLinkVisible]="false"
            [bigHeadlineText]="'PRODUCTS'"
            [subtitleText]="'blah blah blah blah'"
        ></app-headline>
        <h2 class="product-category">FLOWERS</h2> 
        <div class="product-grid">
            <app-product-card 
                class="card"
                *ngFor="let item of items" 
                [flower]="item">
            </app-product-card>
        </div>
        <app-contact-us-block [info]="'CONTACT US'"></app-contact-us-block>
        <app-footer></app-footer>
    </div>
</div>
