<div class="home-page-headline">
    <div class="home-page-headline-photo">
        <div class="headline-text-block">
            <div *ngIf="!bigHeadlineText" class = 'home-page-title'>
                <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean%20pharms-2.png">
            </div>
            <h1 *ngIf="bigHeadlineText" class="big-headline-text">{{bigHeadlineText}}</h1>
            <p class="home-page-description">{{subtitleText}}</p>
            <a *ngIf="viewProductLinkVisible" class="headline-view-products-link" href="">VIEW PRODUCTS</a>
        </div>
    </div>
</div>