.benefit-item-container{
    background-color:black;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit-item-text-div{
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit-item-text-div h1{
    font-weight: bolder;
}

a:hover {
    color: #7FA128;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.benefits-learn-more-link {
    margin: 5px 0px;
    padding: 7px 30px;
    background-color: white;
    font-weight: bold;
    color: darkslateblue;
    border-radius: 25px;
}