.benefit-item-container{
    background-color:black;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit-item-text-div{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit-item-text-div h1{
    font-weight: bolder;
}

a:hover {
    color: #7FA128;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.benefits-learn-more-link {
    margin: 5px 0px;
    padding: 7px 30px;
    background-color: white;
    font-weight: bold;
    color: #3e4797;
    border-radius: 25px;
}
.benefit-item-photo-div img{
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 90vw;
}
.benefit-item-photo-div {
    margin-bottom: 15px;
}