<div class="benefit-item-container">
    <div class="benefit-item-text-div">
        <h1>{{item_info.name}}</h1>
        <p>{{item_info.desc}}</p>
        <!-- <p>Aenean aliquam dolor ex, non tempor enim accumsan eget. Cras sagittis, urna et lobortis lacinia, ante magna venenatis sapien, ac semper nunc nisl at ex. In id diam quis leo ultrices venenatis a sit amet nulla. Nunc quis est sit amet metus convallis faucibus molestie nec metus. Morbi porttitor nunc ex, malesuada tempus orci dapibus vel. Donec in fermentum risus. Fusce nec nisi quis felis faucibus ullamcorper id eu nibh. Quisque luctus volutpat suscipit. Aenean nec orci id erat maximus vestibulum. Nam eget tortor non orci fringilla consequat in vitae ante.</p> -->
    </div>
    <a class="benefits-learn-more-link" href="{{item_info.link}}">LEARN MORE</a>
</div>