.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5vw 5vw;
    
    flex-direction: column;
}

.product-category {
    font-size: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-height: 30px;
    margin-top: auto;
    padding-left: 10px;
}

.product-grid {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 950px;
    margin-top: auto;
}
.card {
    padding: 10px;
}