.content-container {
    display: flex;
    width: 90vw;
    height: auto;
    flex-direction: column;
    max-width: 1020px;
}

.headline-text-block{
    color: white;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.headline-text-block p{
    padding-left: 5px;
}


.page-title {
    font-size: 5em;
}

.all-product-page-headline {
    margin-bottom: 25px;
}

.all-product-page-headline-photo{
    width: 100%;
    height: 450px;
    box-shadow: 0 0 60px 60px inset black;
    background-image: url("https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/F2.JPG");
    background-size: cover;  
}

.product-category {
    font-size: 2.7rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-height: 30px;
    margin-top: auto;
    padding-left: 10px;
}

.product-grid {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: auto;
}
.card {
    padding: 10px;
}