.benefit-section-container{
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: white solid 2px;
    padding: 20px 0px;
}
app-benefit-item:nth-last-child(2){
    border-right: solid white 1px;
}

@media(max-width:450px){
    .benefit-section-container{
        flex-direction: column; 
    }
    app-benefit-item:nth-last-child(2){
        border-right: none;
        border-bottom: solid white 1px;
    }
}
@media(min-width:450px){
    .benefit-section-container{
        flex-direction: row;
    }
    app-benefit-item:nth-last-child(2){
        border-right: solid white 1px;
    }
}