<div class="about-section-container">
    <div class="about-section-image-div">
        <img src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/white-daisy.jpg" alt="About Us Photo">
    </div>
    <div class="about-section-text-div">
        <h2>WHY CHOOSE JUMP-N-BEAN?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium convallis libero quis dapibus. Morbi in tellus non enim vulputate mattis et et velit. Phasellus imperdiet erat sit amet dolor feugiat pellentesque. Vestibulum bibendum sem suscipit tellus suscipit, eget commodo turpis efficitur. Proin in risus facilisis, ultrices quam vitae, eleifend tellus. Mauris pellentesque imperdiet scelerisque. Duis quis justo dapibus, blandit turpis ac, maximus diam. Duis ut facilisis ex, vitae fermentum leo. Mauris orci tellus, laoreet at leo eget, porttitor efficitur nulla. Praesent consectetur, nisi id dictum imperdiet, turpis odio molestie purus, quis finibus lectus turpis quis nibh.</p>
    </div>
</div>
