.about-section-container{
    margin: auto;
    padding: 20px 0px;
    color: white;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.about-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;    
}
.about-section-text h2{
    color: #7FA128;
    font-weight: bold;
}
.about-section-photo{
    height: auto;
    display: flex;
    width: 85%;
    margin-top: 20px;
}
.about-section-photo img{
    object-fit: cover;
    width: 90%;
    margin: auto;
}
a:hover {
    color: #7FA128;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.about-learn-more-link {
    margin: 5px 0px;
    padding: 7px 30px;
    background-color: white;
    font-weight: bold;
    color: #3e4797;
    border-radius: 25px;
}
a:hover {
    color: #3e4797;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a{
    color: #7FA128;
}
@media(max-width:700px){
    .about-section-container{
        flex-direction: column; 
    }
    .about-section-text{
        max-width: 100%;
    }
    .about-section-text h2{
        font-size: 8vw;
        line-height: 8vw;
        text-align: center;
    }
    .about-section-text p{
        font-size: 4vw;
        line-height: 4vw;
        text-align: justify;
    }
}
@media(min-width:700px){
    .about-section-container{
        flex-direction: row;
    }
    .about-section-text{
        max-width: 40%;
    }
    .about-section-text h2{
        font-size: 55px;
        line-height: 55px;
    }
    .about-section-text p{
        font-size: 22px;
        line-height: 28px;
    }
}