.about-section-container{
    background-color: black;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.about-section-image-div{
    height: 100%;
}
.about-section-image-div img{
    object-fit: cover;
    height: 100%;
    width: auto;
    max-width: 50vw;
}
.about-section-text-div{
    padding: 20px 25px;
}
.about-section-text-div h2{
    color: #7FA128;
    font-weight: bold;

}
.about-section-text-div p{
    color: white;
    font-size: 20px;
}
a:hover {
    color: #7FA128;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a{
    color: white;
}
@media(max-width:1024px){
    .about-section-text-div h2{
        font-size: 5vw;
        line-height: 5vw;
    }
    .about-section-text-div p{
        font-size: 2.25vw;
    }
}

@media(min-width:1024px){
    .about-section-text-div h2{
        font-size: 55px;
        line-height: 55px;
    }
    .about-section-text-div p{
        font-size: 24px;
        line-height: 30px;
    }
}
