<div class="about-section-container">
    <div class="about-section-text">
        <h2>WHY CHOOSE<br>JUMP-N-BEAN?</h2>
        <p>Southeastern Oklahoma grown quality medicine with deep connection to the land and community. Our flower takes on unique qualities from the controlled indoor environments. We specialize in Handcrafted Boutique Cannabis with 17 different strains grown on the pharm.Award winning results from our testing partner <a href="https://www.highertesting.com">Higher Testing</a>.  Western Heritage family owned.</p>
    </div>
    <div class="about-section-photo">
        <img src="assets/images/june2020.jpg" alt="June 2020 Testing Award">
    </div>
</div>
