.alert{
    color: red;
    font-weight: bold;
}
.success{
    color: seagreen;
    font-weight: bold;
}
form {
    color: white;
}
mat-form-field {
    padding: 10px;
}
p button {
    text-align: center;
}