<h3>Contact Us</h3>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <p>
        <label>Name:</label>
        <input type="text" formControlName="name" required>
    </p>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors.required" >
            Please provide your name.
        </div>
    </div>
 
    <p>
        <label>Email:</label>
        <input type="email" placeholder="your email address" formControlName="email" required>
    </p>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors.required" >
            Please provide an email address.
        </div>
        <div *ngIf="email.errors.email && email.touched">
            Please provide a valid email address.
        </div>
    </div>

    <p>
        <label>Phone:</label>
        <input type="tel" id="phone" placeholder="XXXXXXXXXX" formControlName="phone" required >
    </p>
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
        <div *ngIf="phone.errors.required" >
            Please provide a phone number.
        </div>
        <div *ngIf="phone.errors.pattern && phone.touched">
            Please provide a valid phone number with area code and no spaces or hyphens.
        </div>
    </div>

    <p>
        <label>City:</label>
        <input type="text" placeholder="your city" formControlName="city" required>
        
    </p>
    <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
        <div *ngIf="city.errors.required" >
            Please provide a city.
        </div>
    </div>
    <p>
        <label>Description:</label>
        <textarea placeholder="What would you like more information about?" formControlName="description" required></textarea>      
    </p>
    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
        <div *ngIf="description.errors.required" >
            Please provide a description of your inquiry.
        </div>
    </div>
    
   
    <p>
        <button type="submit" [disabled]="!form.valid" >Submit</button>
    </p>
</form>