.contact-us-block-container{
    box-shadow: 30px 0 200px 60px inset black;
    background-image: url("https://s3.amazonaws.com/www.jumpnbeanpharms.net/assets/images/FPO-Image6.jpg");
    background-size: cover;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    flex-grow: auto;
}
.contact-us-block-item{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.contact-us-block-item > h2{
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

@media(max-width:450px){
    .contact-us-block-container{
        flex-direction: column;
    }
    .contact-us-block-item{
        width: 95%;
        padding: 10px 15px;
    }
}