/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

html, body { 
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-empty.mat-form-field-label{
    color: white;
}
.mat-form-field-underline {
    background-color: white !important;
}