<div *ngIf="ageVer.userIsVerified(); else elseBlock">
    <app-header></app-header>
    <div class="home-page-container">
        <div class="home-page-content-container">
            <app-headline 
                [logoVisible]="true"
                [subtitleText]="'Southeastern Oklahoma’s Finest Quality Medicine 4 Oklahomans'"
                [viewProductLinkVisible]="true"
            ></app-headline>
            <app-featured></app-featured>
            <app-about id="about-section"></app-about>
            <app-benefits></app-benefits>
            <app-terps></app-terps>
            <app-contact-us-block [info]="'CONTACT US'"></app-contact-us-block>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <app-age-ver-modal></app-age-ver-modal>
</ng-template>