<app-header></app-header>
<div class="home-page-headline">
    <div class="home-page-headline-photo"></div>
    <div class="headline-text-block">
        <img class='home-page-title' src="https://s3.amazonaws.com/www.jumpnbeanpharms.net/images/Jump-n-bean%20pharms-2.png">
        <p class="home-page-description">lorem ipsum</p>
        <a class="view-products-link" href="">VIEW PRODUCTS</a>
    </div>
</div>
<div class="main-page-container">
    <div class="content-container">
        
    </div>
    
</div>
<app-featured></app-featured>
<app-contact-us-block [info]="'CONTACT US'"></app-contact-us-block>
<app-footer></app-footer>