.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.home-page-content-container {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
}

