.home-page-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.home-page-content-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}