.featured-badge-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.featured-products-headline{
    color: white;
    font-size: 4.2vw;
    font-weight: bold;
    margin-left: 2.5vw;
    margin-top: 4vw;
}
.featured-badge-item{
    width: 20%;
    flex: 30%;
    padding: 0 10px;
}

@media(max-width:450px){
    .featured-badge-row{
        flex-wrap: wrap;
    }
}